.InterfaceItem {
  text-align: center;
  background-color: #fff;
  width: 150px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 77px;
}
.InterfaceItemRed {
  text-align: center;
  background-color: #fff;
  width: 150px;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 77px;
  color:red
}

